.section{
    width: 1015px;
    height: 550px;    
    margin:50px auto;
    padding: 0;
    margin-top: 100px;
    border-radius: 8px;
    display: flex;
    &__child{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        h3{
            width: 445px;
             height: 56px;
             display: flex;
             justify-content: center;
             font-family: DM Serif Display;
            font-style: normal;
            font-weight: normal;
            font-size: 48px;
            line-height: 56px;
            /* identical to box height, or 117% */

            letter-spacing: -0.369231px;

            color: #36536B;
            margin-top: 90px;
            }
        p{
            width: 445px;
            height: 84px ;
            display: flex;
            justify-content: center;
            text-align: center;
            font-family: Public Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 28px;
            /* or 187% */


            color: #6C8294;
        }
        &::after{
            position: absolute;
            display: block;
            content: "";
            background: url(/img/Group14.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 600px;
            height: 500px;
            right: 600px;
        }
    }

}
@media screen and (max-width:1170px) {
    .section{
    
        &__child{
           
            &::after{
                position: absolute;
                display: block;
                content: "";
                background: url(/img/Group14.png);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                width: 600px;
                height: 500px;
                right: 500px;
            }
        }
    
    }
}

@media screen and (max-width:1118px) {
    .section{
    
        &__child{
            margin-left: 550px;
           h3{
            width: 400px;
            height: 56px;
            display: flex;
            justify-content: center;
            font-family: DM Serif Display;
           font-style: normal;
           font-weight: normal;
           font-size: 48px;
           line-height: 56px;  
           }
           p{
            width: 380px;
            height: 84px ;
            display: flex;
            justify-content: center;
            text-align: center;
            font-family: Public Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 28px;
            /* or 187% */


            color: #6C8294;
        }
            &::after{
                position: absolute;
                display: block;
                content: "";
                background: url(/img/Group14.png);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                width: 500px;
                height: 500px;
                right: 500px;
            }
        }
    
    }
}
@media screen and (max-width:937px) {
    .section{
    
        &__child{
            margin-left: 400px;
           h3{
            width: 400px;
            height: 56px;
            display: flex;
            justify-content: center;
            font-family: DM Serif Display;
           font-style: normal;
           font-weight: normal;
           font-size: 48px;
           line-height: 56px;  
           }
           p{
            width: 380px;
            height: 84px ;
            display: flex;
            justify-content: center;
            text-align: center;
            font-family: Public Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 28px;
            /* or 187% */


            color: #6C8294;
        }
            &::after{
                position: absolute;
                display: block;
                content: "";
                background: url(/img/Group14.png);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                width: 500px;
                height: 500px;
          
                left: -20px;
            }
        }
    
    }
}
@media screen and (max-width:786px) {
    .section{
    max-width: 100%;
        &__child{
            margin:auto;
            margin-top:250px;
           h3{
            width: 500px;
            height: 56px;
            display: flex;
            justify-content: center;
            font-family: DM Serif Display;
           font-style: normal;
           font-weight: normal;
           font-size: 48px;
           line-height: 56px;  
           }
           p{
            margin-left: auto;
            margin-left: 50px;
            /* or 187% */


            color: #6C8294;
        }
            &::after{
                position: absolute;
                display: block;
                content: "";
                background: url(/img/Group14.png);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                width: 700px;
                height: 500px;
                bottom:0;
                margin-top:650px;
                top:900px;
                left: 70px;
            }
        }
    
    }
}
@media screen and (max-width:690px) {
    .section{
    max-width: 100%;
        &__child{
            margin:auto;
            margin-top:150px;
           h3{
            width: 500px;
            height: 56px;
            display: flex;
            justify-content: center;
            font-family: DM Serif Display;
           font-style: normal;
           font-weight: normal;
           font-size: 48px;
           line-height: 56px;  
           }
           p{
            margin-left: auto;
            margin-left: 50px;
            /* or 187% */


            color: #6C8294;
        }
            &::after{
                position: absolute;
                display: block;
                content: "";
                background: url(/img/Group14.png);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                width: 500px;
                height: 300px;
                bottom:0;
                margin-top:650px;
                top:900px;
                left: 30px;
            }
        }
    
    }
}